{{ form_start(form) }}
    {{ form_widget(form) }}
<a class="btn btn-primary"href="/product/new" >Upload CV</a></li>
<button class="btn btn-primary" href="/">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}


