{% extends 'base.html.twig' %}

{% block title %}New Client{% endblock %}

{% block body %}
    <h1>Apply For Job</h1>

    {{ include('client/_form.html.twig') }}
    {% if is_granted('ROLE_ADMIN')%}
    <a class="btn btn-danger"href="{{ path('client_index') }}">Admin Application Menu</a>
    {% endif %}
{% endblock %}
